@font-face {
  font-family: Freight_Black;
  src: url(/assets/font/Freight_Sans_Black_SC.otf);
}
.btn-main {
  width: 180px;
  height: 44px;
  background-color: #FF6C00;
  color: #fff;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}
.btn-main .idioma {
  margin: 0 10px 0 0;
}
.btn-main .icon_btn {
  margin: 0 5px 0 0;
}

.btn-main:hover {
  background-color: #CC5600;
}

.nav {
  width: 100%;
  height: 80px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 75px;
  color: #fff;
}
.nav .logo {
  margin: 0 0 0 50px;
}
.nav .menu .main-menu {
  margin: 0;
  display: flex;
}
.nav .menu .main-menu li {
  padding: 20px;
  list-style: none;
  display: inline-block;
}
.nav .menu .main-menu li a {
  color: #fff;
  text-decoration: none;
}
.nav .menu .main-menu li a.active, .nav .menu .main-menu li a:hover {
  color: #FF6C00;
  text-decoration: underline;
  font-weight: 900;
}
.nav .monono {
  padding: 0 100px;
}
.nav .monono .title-home {
  font-size: 48px;
}
.nav .rrss .main-menu-rrss {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
.nav .rrss .main-menu-rrss li {
  padding: 20px;
  list-style: none;
  display: inline-block;
}
.nav .rrss .main-menu-rrss li a {
  color: #fff;
  text-decoration: none;
}
.nav .rrss .main-menu-rrss li a:hover {
  color: #FF6C00;
  text-decoration: underline;
  font-weight: 900;
}

.footer {
  background-color: #000;
}
.footer .text_footer {
  margin: 0;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.img_background_monono {
  background-image: url(/assets/img/backgound_perrito.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  height: calc(100vh - 118px);
}

.container_shop {
  display: flex;
}
.container_shop .img_background_coffe {
  width: 634px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.container_shop .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container_shop .info .title_3 {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 40px;
}
.container_shop .info .product-shop {
  display: flex;
  justify-content: space-around;
}
.container_shop .info .product-shop .feature .coffe-sale {
  text-decoration: none;
  color: #000;
}
.container_shop .info .product-shop .feature .coffe-sale .description {
  text-align: center;
}
.container_shop .info .product-shop .feature .coffe-sale .description .title_2 {
  font-size: 23px;
}
.container_shop .info .product-shop .feature .coffe-sale .description .price {
  font-size: 16px;
}
.container_shop .info .section_map {
  padding: 10px 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_shop .info .section_map .title_3 {
  color: #fff;
}
.container_shop .info .section_map .mapa_google {
  margin: 40px 0 10px 0;
  border-radius: 20px;
}

.container_menu {
  display: flex;
}
.container_menu .img_background_menu {
  width: 50%;
  height: calc(100vh - 118px);
  background-image: url(/assets/img/backgound_menu.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}
.container_menu .info_menu {
  background-image: url(/assets/img/backgound_menu_1.png);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 118px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container_menu .info_menu .btn_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container_menu .info_menu .btn_section .buttons {
  margin: 40px 10px;
  text-align: center;
  color: #fff;
}
.container_menu .info_menu .btn_section .t {
  display: flex;
  border-left: 2px solid #fff;
  height: 200px;
}
.container_menu .info_menu .section_map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.container_menu .info_menu .section_map .title_3 {
  color: #fff;
}
.container_menu .info_menu .section_map .mapa_google {
  margin: 40px 0 10px 0;
  border-radius: 20px;
}

.container_event {
  display: flex;
}
.container_event .img_background_event {
  width: 70%;
  background-image: url(/assets/img/backgound_events.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.container_event .info_event {
  width: 100%;
  background-color: #232323;
  display: flex;
  flex-direction: column;
}
.container_event .info_event .title_and_day {
  width: 100%;
  display: flex;
  align-items: center;
}
.container_event .info_event .title_and_day .section_event {
  width: 100%;
  padding: 70px;
  color: #fff;
}
.container_event .info_event .title_and_day .section_event .event_titulo_1 {
  font-size: 30px;
}
.container_event .info_event .title_and_day .section_event .categoria {
  text-transform: uppercase;
  font-size: 12px;
}
.container_event .info_event .title_and_day .section_event .event_p {
  text-align: center;
  font-size: 100px;
  font-weight: 900;
}
.container_event .info_event .title_and_day .section_event .mes {
  text-align: center;
  letter-spacing: 12px;
}
.container_event .info_event .title_and_day .t {
  border-left: 2px solid #fff;
  height: 250px;
}
.container_event .info_event .img_down {
  width: 100%;
  height: 404px;
  background-image: url(/assets/img/backgound_events_down.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@font-face {
  font-family: Freight_Black;
  src: url(/assets/font/Freight_Sans_Black_SC.otf);
}
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

h1, h2 {
  font-family: "Freight_Black";
}

h3, h4, h5 {
  font-family: "Roboto";
}

h4, h5 {
  font-size: 16px;
}/*# sourceMappingURL=index.css.map */